body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header-items {
    display: flex;
    padding-top: 12px;
    
}

.header {
    color: white;
    font-weight: bold;
}
.header-container {
    background-color: #1F2937;
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:link{
    text-decoration: none;
}
a {
    color: white;
    font-size: 18px;
    
}
li {
    font-weight: #E5E7EB;
} 
.ztx {
    font-size: 48px;
    font-weight: #f9fAf8;
    color: white;
    padding: 12px;
}
.main {
    margin-left: auto;
    margin-right: auto;
}

.catchy {
    font-size: 18px;
    font-weight: #E5E7EB;
    color: white;
    padding: 12px;
    margin-top: -12px;
    
}
button {
    background-color: #3882F6;
    padding: 7px;
    border-radius: 8px;
}
.header{
    margin-left: 82px;
    font-size: 24px;
    font-weight: #F9FAF8;
}
.right-links {
    margin-left: auto;
    margin-right: 72px;
}
.img {
   
     margin-right: auto;
     padding-top: 20px; 
   
}
img {
    border-radius: 9px;
    
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
   
}
.text {
    font-size: 36px;
    font-weight: #1F2937;
    margin-left: auto;
    text-align: center;
    padding: 19px;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 24px;
   margin-top: 18px;
   flex-wrap: wrap;
  
     
}
.second-container{
    padding-bottom: 22px;
}
img {
    border: 2px solid rgb(82, 82, 253);
}
.footer {
    
    color: white;
    text-align: center;
    background-color: #1F2937;
    padding: 18px;
}
.third-container {
    background-color: #E5E7EB;
   
}
.quote {
    font-size: 36px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    
    
}
